# v 2.14

# (globals are at bottom)

# ====== Home ======
host dellblue
hostname dellblue.l.abrody.com
user andy

host dellaptop
hostname dellaptop.l.abrody.com
user andy

host oz-l
hostname oz.l.abrody.com
user andy

host zara-l
hostname zara.l.abrody.com
user andy

host zara-wifi
hostname zara-wifi.l.abrody.com
user andy

host wisp-l
hostname wisp.l.abrody.com
user andy

host wisp-wifi
hostname wisp-wifi.l.abrody.com
user andy

# ====== Home - Remote ======
host dellaptop-remote
hostname alberge.is-a-geek.com
# hostname dellaptop.abrody.com
user andy
port 2243

host oz-remote
hostkeyalias oz
hostname abrody.com
port 2222
user andy

host oz-remote-vnc
hostkeyalias oz
hostname abrody.com
port 2222
LocalForward 5900 localhost:5900
LocalForward 5901 localhost:5901
ForwardX11 yes
ControlMaster no
ExitOnForwardFailure yes

#host oz
#hostkeyalias oz
#hostname abrody.com
#port 2222
#user andy

host dellblue-remote
hostname dellblue.abrody.com
# hostname abrody.com
user andy

host dellblue-vnc
hostname dellblue.abrody.com
user andy
LocalForward 5900 localhost:5900
ForwardX11 yes
ControlMaster no
ExitOnForwardFailure yes


# ====== Harvard Tunnels ======
host oz-tunnel
hostname localhost
hostkeyalias oz
port 2221
user andy

host oz-tunnel0
hostname localhost
hostkeyalias oz
port 2221
user andy

host oz-tunnel1
hostname localhost
hostkeyalias oz
port 2222
user andy

host zara-tunnel
hostname localhost
hostkeyalias zara
port 2220
user andy

host eggplant-tunnels
hostname eggplant.abrody.com
user root
BatchMode yes
ExitOnForwardFailure yes
LocalForward 2222 192.168.1.22:22
LocalForward 2221 192.168.1.21:22
LocalForward 2220 192.168.1.20:22

# ====== Harvard DHCP =====
host wisp
#hostname wisp.client.student.harvard.edu
#hostname dhcp-0036235599-a8-27.client.student.harvard.edu
#hostname wisp-wifi.h.abrody.com
hostname dhcp-0059595205-7e-81.client.student.harvard.edu
user andy

host zara
#hostname zara.client.student.harvard.edu
hostname dhcp-0000058497-64-e5.client.student.harvard.edu
user andy

host zara-wired
hostkeyalias zara
#hostname 140.247.180.51
hostname zara-wired.h.abrody.com
user andy

host eggplant
hostname eggplant.abrody.com
# hostname 140.247.180.54
user root

host oz-forward
hostkeyalias oz
hostname eggplant.abrody.com
port 2222
user andy

host oz-dynamic
hostkeyalias oz
hostname alberge.is-a-geek.com
port 22
user andy

host oz
hostname oz.abrody.com
user andy

host oz-h
hostname oz0.abrody.com
user andy

host oz0
hostkeyalias oz
hostname oz0.abrody.com
# hostname 140.247.180.56
user andy

host oz1
hostkeyalias oz
hostname oz1.abrody.com
# hostname 140.247.180.55
user andy

host oz-vnc
hostkeyalias oz
hostname oz0.abrody.com
LocalForward 5900 localhost:5900
LocalForward 5901 localhost:5901
ForwardX11 yes
ControlMaster no
ExitOnForwardFailure yes

# ====== Personal VMs ======
host lion
hostkeyalias lion
hostname 192.168.122.83
user andy

# ====== Harvard Servers ======
host fas
hostname fas.harvard.edu
user abrody

host nice
hostname nice.fas.harvard.edu
user abrody

host eecs
hostname eecs.harvard.edu
user abrody

host cs61
hostname cs61.seas.harvard.edu
user abrody

# ====== HCS ======
host hcs
hostname hcs.harvard.edu
user abrody

host pops
hostname hcs.harvard.edu
user pops

host caesar
hostname caesar.hcs.harvard.edu
user abrody
host cato
hostname cato.hcs.harvard.edu
user abrody

host cicero
hostname cicero.hcs.harvard.edu
user abrody
host marcus
hostname marcus.hcs.harvard.edu
user abrody

host augustus
hostname augustus.hcs.harvard.edu
user abrody
host flavius
hostname flavius.hcs.harvard.edu
user abrody

host trajan
hostname trajan.hcs.harvard.edu
user hcs

host gracchus
hostname gracchus.hcs.harvard.edu
user hcs
host vento
hostname vento.hcs.harvard.edu
user hcs

host dellius
hostname dellius.hcs.harvard.edu
user hcs
host dellius-munin
  hostname dellius.hcs.harvard.edu
  LocalForward 8080 localhost:80
  user hcs
host dellius-zenoss
  hostname dellius.hcs.harvard.edu
  LocalForward 8080 localhost:8080
  user hcs

host pentadius
hostname pentadius.hcs.harvard.edu
user hcs

host aquila
hostname aquila.hcs.harvard.edu
user abrody

host nasica
hostname nasica.hcs.harvard.edu
user abrody

host titus
hostname titus.hcs.harvard.edu
user hcs
host petreius
hostname petreius.hcs.harvard.edu
user hcs

host nero
hostname nero.hcs.harvard.edu
user abrody

host needa
hostname needa.hcs.harvard.edu
user abrody

host scipio
hostname scipio.hcs.harvard.edu
user bootstrap

host cfg1
hostname cfg1.hcs.harvard.edu
user hcs
host cfg2
hostname cfg2.hcs.harvard.edu
user hcs

host code1
hostname code1.hcs.harvard.edu
user hcs
host code2
hostname code2.hcs.harvard.edu
user hcs

# == test ==
host tarkin
hostname tarkin.hcs.harvard.edu
user bootstrap

host piett
hostname piett.hcs.harvard.edu
user bootstrap

host veers
hostname veers.hcs.harvard.edu
user abrody

host biggs
hostname biggs.hcs.harvard.edu
user abrody

host porkins
hostname porkins.hcs.harvard.edu
user hcs

host lobot
hostname 140.247.182.54
hostkeyalias lobot.hcs.harvard.edu
user hcs

# == services ==
host code
hostname code.hcs.harvard.edu
hostkeyalias code.hcs.harvard.edu:2222
port 2222
user abrody

# == hvirt ==
host hvirt-dev
hostname hvirt-dev.hcs.harvard.edu
user hvirt

# == Physical Machines ==
host virgil
hostname virgil.hcs.harvard.edu
user hcs

host hera
hostname hera.hcs.harvard.edu
user abrody

host serenity
hostname serenity.hcs.harvard.edu
user hcs

host appleseed
hostname appleseed.hcs.harvard.edu
user hcs

host bunyan
hostname bunyan.hcs.harvard.edu
user hcs

host gawain
hostname gawain.eecs.harvard.edu
user hcs

host luke
hostname luke.hcs.harvard.edu
user hcs

host leia
hostname leia.hcs.harvard.edu
user hcs

host han
hostname han.hcs.harvard.edu
user hcs

host vader
hostname vader.hcs.harvard.edu
user hcs

host c3po
hostname c3po.hcs.harvard.edu
user hcs

# == hypervisors ==
host romulus
hostname romulus.hcs.harvard.edu
user abrody

host remus
hostname remus.hcs.harvard.edu
user abrody

host hersilia
hostname hersilia.hcs.harvard.edu
user abrody

# ====== Crimson ======
host katsuo
hostname katsuo.thecrimson.net
user andy

host it3
hostname sbs.thecrimson.com
user abrody
host it3-local
hostname it3.thecrimson.net
user abrody
hostkeyalias it3

host ernie
hostname 10.0.0.220
user abrody

host bert
hostname 10.0.0.214
user abrody

host grover
hostname 10.0.0.205
user andy

host apollo
hostname 10.0.0.251
hostkeyalias apollo
user abrody

host artemis
hostname 10.0.0.252
hostkeyalias artemis
user abrody

host ws1
hostname crimson-ws1.hcs.harvard.edu
user abrody

host ws1-new
hostkeyalias crimson-ws1.hcs.harvard.edu
hostname 140.247.89.140
user abrody

host ws2-new
hostkeyalias crimson-ws2.hcs.harvard.edu
hostname 140.247.89.141
user abrody

host ws2
hostname crimson-ws2.hcs.harvard.edu
user abrody

host ws1-munin
hostname crimson-ws1.hcs.harvard.edu
LocalForward 8080 localhost:80
user abrody

host ws2-munin
hostname crimson-ws2.hcs.harvard.edu
LocalForward 8081 localhost:80
user abrody

host staging
hostname staging.thecrimson.net
user crimson

host test1
hostname test1.thecrimson.net
user crimson

host test2
hostname test2.thecrimson.net
user crimson

# ====== mit ======
host mit
hostname linux.dialup.mit.edu
user abrody

# ====== scvngr ======

host yoda-lan
hostkeyalias yoda
#hostname 10.0.0.15
hostname scvngr-yoda.ath.cx
user andy

host yoda
hostkeyalias yoda
hostname southend.ath.cx
port 222
user andy

host qa
hostname qa.scvngr.com
port 7822
user daedalus

#host production
host prod
hostname scvngr.com
port 7822
user daedalus

host promo
hostname promo.scvngr.com
port 7822
user andy

host zoom
hostname southend.ath.cx
user seth

host slowmac
hostname 10.0.0.21
hostkeyalias slowmac
#user sethpriebatsch
user andy

# ====== Globals ======

Host *
  # connection sharing
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p

  # keepalive
  ServerAliveInterval 30
  ServerAliveCountMax 4

  # no gssapi
  # this might be overriden in /etc/ssh/config... not sure how it works
  GSSAPIAuthentication no

