# v 2.11

# (globals are at bottom)

# ====== Home ======
host dellblue
hostname dellblue.lan.abrody.com
user andy

host dellaptop
hostname dellaptop.lan.abrody.com
user andy

host oz
hostname oz.lan.abrody.com
user andy

host zara
hostname zara.lan.abrody.com
user andy

host zara-wifi
hostname 10.10.10.30
hostkeyalias zara
user andy

host wisp
hostname wisp.lan.abrody.com
user andy


# ====== Home - Remote ======
host dellaptop-remote
hostname alberge.is-a-geek.com
# hostname dellaptop.abrody.com
user andy
port 2243

host oz-remote
hostkeyalias oz
hostname abrody.com
port 2222
user andy

host dellblue-remote
hostname dellblue.abrody.com
# hostname abrody.com
user andy

# ===== Harvard Tunnels =====
host oz-tunnel
hostname localhost
hostkeyalias oz
port 2221
user andy

host oz-tunnel0
hostname localhost
hostkeyalias oz
port 2221
user andy

host oz-tunnel1
hostname localhost
hostkeyalias oz
port 2222
user andy

host zara-tunnel
hostname localhost
hostkeyalias zara
port 2220
user andy

host eggplant-tunnels
hostname eggplant.abrody.com
user root
BatchMode yes
ExitOnForwardFailure yes
LocalForward 2222 192.168.1.22:22
LocalForward 2221 192.168.1.21:22
LocalForward 2220 192.168.1.20:22

# ====== Harvard DHCP =====
host wisp
#hostname wisp.client.student.harvard.edu
hostname dhcp-0036235599-a8-27.client.student.harvard.edu
user andy

host wisp2
hostkeyalias wisp
hostname 140.247.161.200
user andy

host zara
#hostname zara.client.student.harvard.edu
hostname dhcp-0000058497-64-e5.client.student.harvard.edu
user andy

host zara-wired
hostkeyalias zara
#hostname 140.247.180.51
hostname zara-wired.h.abrody.com
user andy

host eggplant
hostname eggplant.abrody.com
# hostname 140.247.180.54
user root

host oz-forward
hostkeyalias oz
hostname eggplant.abrody.com
port 2222
user andy

host oz
hostname oz0.abrody.com
user andy

host oz0
hostkeyalias oz
hostname oz0.abrody.com
# hostname 140.247.180.56
user andy

host oz1
hostkeyalias oz
hostname oz1.abrody.com
# hostname 140.247.180.55
user andy

host oz-x11
hostkeyalias oz
hostname oz0.abrody.com
LocalForward 5900 localhost:5900
LocalForward 5901 localhost:5901
ForwardX11 yes
ControlMaster no
ExitOnForwardFailure yes

# ====== Harvard Servers ======
host fas
hostname fas.harvard.edu
user abrody

host nice
hostname nice.fas.harvard.edu
user abrody

host eecs
hostname eecs.harvard.edu
user abrody

host cs61
hostname cs61.seas.harvard.edu
user abrody

# ====== HCS ======
host hcs
hostname hcs.harvard.edu
user abrody

host pops
hostname hcs.harvard.edu
user pops

host caesar
hostname caesar.hcs.harvard.edu
user abrody
host cato
hostname cato.hcs.harvard.edu
user abrody

host cicero
hostname cicero.hcs.harvard.edu
user abrody
host marcus
hostname marcus.hcs.harvard.edu
user abrody

host augustus
hostname augustus.hcs.harvard.edu
user abrody
host flavius
hostname flavius.hcs.harvard.edu
user abrody

host trajan
hostname trajan.hcs.harvard.edu
user hcs

host gracchus
hostname gracchus.hcs.harvard.edu
user hcs
host vento
hostname vento.hcs.harvard.edu
user hcs

host dellius
hostname dellius.hcs.harvard.edu
user hcs

host pentadius
hostname pentadius.hcs.harvard.edu
user hcs

host aquila
hostname aquila.hcs.harvard.edu
user abrody

host titus
hostname titus.hcs.harvard.edu
user hcs
host petreius
hostname petreius.hcs.harvard.edu
user hcs

host virgil
hostname virgil.hcs.harvard.edu
user hcs

host hera
hostname hera.hcs.harvard.edu
user abrody

# == hypervisors ==
host romulus
hostname romulus.hcs.harvard.edu
user abrody

host remus
hostname remus.hcs.harvard.edu
user abrody

host hersilia
hostname hersilia.hcs.harvard.edu
user hcs

host luke
hostname luke.hcs.harvard.edu
user hcs

host leia
hostname leia.hcs.harvard.edu
user hcs

host han
hostname han.hcs.harvard.edu
user hcs

# ===== Crimson =====
host katsuo
hostname katsuo.thecrimson.net
user andy

host it3
hostname portal.thecrimson.com
user abrody
host it3-local
hostname it3.thecrimson.net
user abrody
hostkeyalias it3

host ernie
hostname 10.0.0.220
user abrody

host bert
hostname 10.0.0.214
user abrody

host grover
hostname 10.0.0.205
user andy

host apollo
hostname 10.0.0.251
hostkeyalias apollo
user abrody

host artemis
hostname 10.0.0.252
hostkeyalias artemis
user abrody

host ws1
hostname crimson-ws1.hcs.harvard.edu
user abrody

host ws1-new
hostkeyalias crimson-ws1.hcs.harvard.edu
hostname 140.247.89.140
user abrody

host ws2-new
hostkeyalias crimson-ws2.hcs.harvard.edu
hostname 140.247.89.141
user abrody

host ws2
hostname crimson-ws2.hcs.harvard.edu
user abrody

host ws1-munin
hostname crimson-ws1.hcs.harvard.edu
LocalForward 8080 localhost:80
user abrody

host ws2-munin
hostname crimson-ws2.hcs.harvard.edu
LocalForward 8081 localhost:80
user abrody

host staging
hostname 10.0.0.157
user crimson

# ====== scvngr =====

host yoda-lan
hostkeyalias yoda
#hostname 10.0.0.15
hostname scvngr-yoda.ath.cx
user andy

host yoda
hostkeyalias yoda
hostname southend.ath.cx
port 222
user andy

host qa
hostname qa.scvngr.com
port 7822
user daedalus

#host production
host prod
hostname scvngr.com
port 7822
user daedalus

host promo
hostname promo.scvngr.com
port 7822
user andy

host zoom
hostname southend.ath.cx
user seth

host slowmac
hostname 10.0.0.21
hostkeyalias slowmac
#user sethpriebatsch
user andy

# ====== Globals ======

Host *
  # connection sharing
  ControlMaster auto
  ControlPath ~/.ssh/sockets/%r@%h-%p

  # keepalive
  ServerAliveInterval 30
  ServerAliveCountMax 4

  # no gssapi
  # this might be overriden in /etc/ssh/config... not sure how it works
  GSSAPIAuthentication no

